.events-container {
    padding: 1rem;
    text-align: center;
}

.events-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}

.event-item {
    border: 1px solid #e5e5e5;
    padding: 1rem;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.event-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.event-item img {
    max-width: 100%;
    height: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    width: 70%;
    max-width: 500px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    border: none;
    background: transparent;
    color: #333;
}

.close-button:hover {
    color: #555;
}

.image-slider {
    position: relative;
    width: 80%;
    /* Add a specific height if all images are of the same height; adjust based on your need */
    height: 300px;
    display: flex;
    justify-content: center;
    /* Horizontally center the image */
    align-items: center;
    /* Vertically center the image and buttons */
    margin-bottom: 1rem;
    overflow: hidden;
    /* Hide overflow content (like parts of the image outside the container) */
}

.image-slider img {
    max-width: 100%;
    /* Adjust based on preference, used max-width to retain image's aspect ratio */
    border-radius: 8px;
}

.image-slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    color: #a8a8ff;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
    /* Ensure buttons are above the image */
}

.image-slider-button.prev {
    left: 10px;
    /* position it 10px from the left */
}

.image-slider-button.next {
    right: 10px;
    /* position it 10px from the right */
}